body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8CDBA9;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-block {
    max-width: 256px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #33AB5F;
}

.welcome-text {
    padding: 0;
    width: 100%;
    font-size: xx-large;
}

.info-text {
    font-size: medium;
    padding-top: 10px;
}

.get-started-text {
    padding: 0;
    font-size: x-large;
}

.base-text {
    color: white;
    text-align: center;
    position: relative;
    font-family: "Fredoka", sans-serif;
}